<nav class="gares-nav">
       <ul class="list">
        <li class="item-list">
            <a href="/"> Bosh sahifa</a>
        </li>
        <li class="item-list">
            <a href="/users/add-users"> Add-Users</a>
        </li>
    </ul>
    </nav>