<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav class="gares-nav">
       <ul class="list">
        <li class="item-list">
            <a href="/"> Bosh sahifa</a>
        </li>
        <li class="item-list">
            <a href="/add-users"> Add-Users</a>
        </li>
    </ul>
    </nav>
    <main class="main-user">
        <h3>Users list foud...</h3>
    </main>


</body>
</html>