body{
    margin: 0;
    padding: 0;
}
.gares-nav{
    padding: 0;
    margin: 0;
    background-color: rgb(37, 6, 213);
    
    

}
.list{
    margin:0;
    padding: 2rem;
   
  display: flex;
    list-style: none;
  
}
.item-list{
    margin: 0;
    padding: 0 2rem;
    
}
.item-list a{
    text-decoration: none;
    color: aliceblue;
   
}
.main-user{
    padding: 3rem;
}

.header{
    width: 100%;
    height: 3rem;
    background-color: rgb(20, 20, 207);
    padding: 0 3rem;
}
header-nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.header-item-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}
.header-item{
   padding: 0 1rem;
   margin: 0;
   

}
.header-item a{
    text-decoration:none ;
    color: #fff;

}

h1{
margin: 10px;
padding: 0 100px;
}
.add-users-form{
    padding: 0 50px;
    margin: 10px;

}
.input-add{
    margin: 10px;
}
.form-control{
    height: 20px;
    width: 30%;
}
.users-button{
    padding: 0 5rem;
   
    
}
.users-button btn{
    color: #f21212;
    width: 50px;
    background-color: rgb(148, 100, 28);
}
.label{
    color: rgb(19, 233, 33);
    margin: 2rem;
}
.btn{
    width: 100px;
    color: rgb(222, 135, 196);
    height: 40px;
    font-size: 20px;
    background: #f60b0b;
    border-radius:10px ;
}